.contact{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 40px 70px;
    background-color: #FFFFFF;
    text-align: center;

}
.items{
    width: 250px;
    flex-direction: column;
}

.contact .title {
    font-family: 'Cormorant Garamond';
    font-style: regular;
    font-size: 25px;
    text-align: center;
 
}
.contact .subtitle {
    font-family: 'Inter';
    font-style: regular;
    font-size: 16px;
    color: var(--color-text-black);
}
.icon{
    height: 60px;
}