.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 70px;
    position: absolute;
    width: 100%;
    box-sizing: border-box;
    z-index: 2;

}

.logo {
    width: 165px;
    margin-left: -17px;
}

.nav-links {
    display: flex;
    align-items: center;
    gap: 60px;
  
    font-family: 'Inter';
    font-weight: 500;

}

a{ 
    color: white;
    text-decoration: none;
}

a:hover {
    cursor: pointer;
    color: var(--color-primary);


}

@media (max-width: 730px) {
    .navbar{
        justify-content: center;
    }
    .nav-links{
        display: none;
    }
    .logo{
        margin: 0;
    }

}