.banner {
    height: 100dvh;
    position: relative;
    display: flex;
    color: white;
    align-items: center;
}

.blur {
    background-color: rgba(0, 0, 0, 0.752);
    z-index: -1;
    height: 100dvh;
    position: absolute;
    inset: 0;
    display: flex;
    flex-direction: column;
    padding: 70px;

}

.banner-image {
    width: 100%;
    height: 100dvh;
    object-fit: cover;
    display: block;
    z-index: -10;
    object-position: center 70%;
    position: fixed;
}

.bannerSer-image {
    width: 100%;
    height: 60dvh;
    object-fit: cover;
    display: block;
    z-index: -10;
    object-position: center 70%;
    position: fixed;

}

.container-banner {
    display: flex;
    flex-direction: column;
    padding-left: 70px;
    height: 80%;
    width: 30%;
    gap: 40px;
    justify-content: end;

}

.banner-icons {
    margin-top: 5%;
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.item-icon {
    display: flex;
    align-items: center;
    font-size: clamp(0.6rem, 1.6vw, 0.9rem);
    font-family: 'Inter';
    font-weight: 300;
}

.banner-icon {
    height: 50px;
}

.container-banner #text1 {
    font-size: clamp(2.5rem, 8vw, 4.9rem);
}

.container-banner #text2 {
    color: #76BB29;
    font-size: clamp(1.5rem, 6vw, 3rem);
}

.container-banner #text3 {
    font-family: 'Inter';
    font-size: clamp(0.9rem, 3.5vw, 1.2rem);
    font-weight: 300;
}


@media (max-width: 730px) {

    .banner {
        height: 100dvh;
        display: flex;
        align-items: center;
        justify-content: center;
    }


    .banner-image {
        height: 100dvh;
        object-fit: cover;
        display: block;
        z-index: -10;
        position: fixed;
    }


    .blur {
        height: 100dvh;
        padding: 20px;
    }

    .container-banner {
        width: 100%;
        height: 100%;

        padding-left: 0;

        display: flex;
        flex-direction: column;

        align-items: center;
        justify-content: center;

        text-align: center;
        padding: 0px 20px;
        gap: 22px
    }

    #text1 {
        
        line-height: 0.95;
        margin: 0;
    }

    #text2 {
        
        line-height: 1;
        margin: 0;
    }

    #text3 {

        line-height: 1.2;

        max-width: 390px;

        margin: 0;
    }

    .banner-icons {
        width: calc(100% - 40px);

        position: absolute;
        bottom: 20px;
        left: 20px;

        margin-top: 0;

        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .item-icon {
        flex: 1;
        justify-content: center;
        text-align: start;
        
    }

    .banner-icon {
        height: clamp(25px, 6vw, 38px);
    }
}