.work-seccion {
    background-color: #0B140F;
    padding: 60px 70px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;

}

.work-seccion .container-card {

    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-between;


}

.work-seccion .card {
    width: clamp(260px, 30vw, 280px);
    height: clamp(120px, 17vw, 160px);
    background-color: #444444;
    color: white;
}

.work-seccion #text1 {
    color: var(--color-primary);
    font-size: clamp(1.2rem, 1.6vw, 1.5rem);
    font-weight: bold;

}

.work-seccion #text2 {
    color: white;
    font-family: 'inter';
    font-size: clamp(0.8rem, 1.6vw, 2rem);
    text-align: center;
    font-weight: 600;
}

.line {
    width: 150px;
    background-color: var(--color-primary);
    height: 2px;
    border: none;

}

@media (max-width: 1000px) {
    .work-seccion {
        padding: 60px 20px;
    }

    .work-seccion .container-card {
        justify-content: center;
    }
}

@media (max-width: 1500px) {
    .work-seccion .container-card {
        gap: 20px;
    }
}