.work-seccion {
    background-color: #0B140F;
    padding: 60px 70px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

.work-seccion .container-card {
    display: flex;
    width: 100%;
    justify-content: space-between;
    margin-top: 20px;
    
}

.work-seccion .card {
    width: 280px;
    height: 180px;
    background-color: #444444;
    color: white;
}

.work-seccion #text1 {
    color: var(--color-primary);
    font-size: 25px;
    font-weight: bold;

}

.work-seccion #text2 {
    color: white;
    font-family: 'inter';
    font-size: 30px;
    font-weight: 600;
}

.line {
    width: 150px;
    background-color: var(--color-primary);
    height: 2px;
    border: none;

}

