hmtl, body {
  margin: 0;
  padding: 0;
  height: 100%;
  background-color: #F2F6EE
}
.App-header{
  display: flex;
  justify-content: center;

}
.banner {

  max-height: 100vh;
  max-width: 100%
 
}
